body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

table {
    width: 100%;
    height: 75vh;
    background-color: #00274b;
    color: rgb(255, 255, 255);
}

td {
    width: 25%;
    text-align: center;
    font-size: 32px;
    background-color: #011f4b;

}
.border-radius{
    border-radius: 30px;
}

td:hover {
    background-color: #005b96;
    cursor: pointer;
}

#resultDiv {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    padding: 16px;
    box-sizing: border-box;
    font-size: 54px;
    height: 25vh;
    color: white;
    background-color: #03396c;
}

#result {
    background-color: #6497b1;
}

#result:hover {
    background-color: #b3cde0;
    cursor: pointer;
}

.newColor {
    background-color: #08244f;
    border-radius: 30px;
}

.empty {
    background-color: #08244f;
}